# build stuff
.direnv/**
node_modules/**
.vscode/**
.github/**
.vscode-test/**

# src
ts/**
rust/**
webview/**
wit/**

# files
.envrc
esbuild.js
flake.lock
flake.nix
eslint.config.mjs 
.gitignore
pnpm-lock.yaml
LICENCE.txt

# file types
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
